<!-- Footer -->
    <footer id="footer" class="footer-dark">
        <div class="container">

            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 text-center-xs p-0 py-5 px-3">

                    <!-- logo -->
                    <span class="h--70 mt--n20 d-inline-flex align-items-center">
                        <img src="{{url_for('static', filename='assets/images/logo/logo_light.svg')}}" width="110" height="70" alt="...">
                    </span>

                    <p class="lead">
                        Верный способ начать что-то: бросить говорить и делать.
                        &ndash; <i>Уолт Дисней</i>
                    </p>

                </div>


                <div class="col-12 col-md-6 col-lg-5 py-5 text-center-xs">

                    <h4 class="h5">StartUps</h4>

                    <div class="row">
                        <div class="col-12 col-lg-6">

                            <ul class="mt-4 mb-0 list-unstyled p-0 block-xs">
                                <li><a href="/auth/">Начать</a></li>
                                <li><a href="/auth/account/">Личный кабинет</a></li>
                            </ul>

                        </div>

                        <div class="col-12 col-lg-6">

                            <ul class="mt-4 mb-0 list-unstyled p-0 block-xs">
                                <li><a href="/about/">О нас</a></li>
                                <li><a href="/contact/">Связаться с нами</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>



    </footer>
    <!-- /Footer -->