<!-- HEADER -->
	{% include 'header.html' %}
<!-- /HEADER -->

<!-- COVER -->
<section class="p-0 jarallax overlay-dark overlay-opacity-6 text-white">

	<!-- jarallax image -->
	<img class="jarallax-img" src="{{url_for('static', filename='demo.files/images/unsplash/covers/reza-rostampisheh--hcCm0kIaSg-unsplash.jpg')}}" alt="...">

	<div class="container">

		<div class="d-middle col-12 col-md-6 min-h-75vh text-center-xs">

			<div class="mt-7overflow-hidden mb-4">

				<h1 class="font-weight-light mb-4">
					Меняй мир <span class="text-warning font-weight-medium">технологий</span>,
					<span class="font-weight-medium">не выходя из дома</span>!
				</h1>

				<p class="lead">
					Создавать новые проекты не так сложно. Достаточно только зарегистрироваться.
				</p>

				<div class="mt-4">

<!--								<a href="#!" class="btn btn-warning transition-hover-top mb-3 d-block-xs">-->
<!--									Проекты-->
<!--								</a>-->

<!--								<a target="_blank" href="../html_admin/layout_1/" class="btn btn-warning transition-hover-top  mb-3 d-block-xs">-->
<!--									Зарегистрироваться-->
<!--								</a>-->

				</div>

			</div>

		</div>

	</div>

</section>
<!-- /COVER -->
